nav{
background-color: #abf4eb;
color: black;
display: flex;
}
.zawartosc{
    border-style: solid;
    display: flex;
}
#footer {
    border-style: solid;
    background-color: grey;
    position: absolute;
    height: 300px;
    bottom: 0;
}
.produkt{
    text-align: center;
    width: 150px;
    border-style:solid;
    margin: 10px;
}
.log{
    text-align: right;
}
.container1{
    display: flex;
}
#slider{
    width: 300px;
    position: fixed;
}
body
{
	background-color: #2F3336;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}
header{
    background-color: #113809;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}
h1
{
	font-size: 36px;
	font-weight: 400;
	color: #C0D06F;
	margin: 20px;
}
.bg-jumpers
{
	background-color: #91a33b !important;
}
