nav{
background-color: #abf4eb;
color: black;
display: flex;
}
.zawartosc{
    border-style: solid;
    display: flex;
}
#footer {
    border-style: solid;
    background-color: grey;
    position: absolute;
    height: 300px;
    bottom: 0;
}
.produkt{
    text-align: center;
    width: 150px;
    border-style:solid;
    margin: 10px;
}
.log{
    text-align: right;
}
.container1{
    display: flex;
}
