body
{
	background-color: #2F3336;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}
header{
    background-color: #113809;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}
.navbar{
   background-color: #19e5e6;
   color: white;
}
#slider
{
    margin: 50px;
width: 700px;
height: 1000px;
}
#zawartosc{
   display: flex;
}
#produkt{
   text-align: center;
   margin: 20px;
}
#sliderzdjecie
{

    width: 100%;
    height: 100%; 
}
